@charset "UTF-8";

:root {
    --primary-color: #1991DB;
    --secondary-color: #136FA8;
    --primary-color-light: #5CAEE1;
    --primary-color-dark: #26475C;
    --secondary-color-dark: #0A3C5C;
    --default-font: Arial, Helvetica, sans-serif;
    --sistem-back-color: rgba(92, 174, 225, 0.7);
    --delete-button-color: #630909;
}

/* Alert Messages */
.error-message {
    padding: 20px;
    background-color: rgb(255, 77, 77);
    color: white;
    margin-bottom: 15px;
    margin-top: 15px;

    font-weight: 600;

    max-width: 500px;
}

.warning-message {
  padding: 20px;
  background-color: rgb(255, 133, 77);
  color: white;
  margin-bottom: 15px;
  margin-top: 15px;

  font-weight: 600;

  max-width: 500px;
}


.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

  /* Icons Style */
  span.error-icon {
      color: red;
      font-size: 64px;  
      margin-bottom: 10px;    
  }

  span.step-icon {
    color: purple;
    font-size: 64px;  
    margin-bottom: 10px;    
  }

  span.default-icon {
    color: var(--secondary-color);
    font-size: 64px;
    margin-bottom: 10px;
  }

  /* Alert Containers */

  .message-box {
    position: relative;
    padding: 1em;
    margin: 10% auto;

    text-align: center;
    font-size: 1em;
    font-weight: bolder;

    background: #FFFFFF;
    box-shadow: 2px 5px 10px 5px rgba(0, 0, 0, 0.4);
    border-radius: 20px;

    min-width: 200px;
    max-width: 400px;

    align-self: center;
  }

  /* MODAL */
  /* The Close Button */
.close-modal {
  color: var(--secondary-color-dark);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: rgb(255, 56, 56);
  text-decoration: none;
  cursor: pointer;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}        

/* Modal Body */
.modal-body {
  padding: 2px 16px;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}


.filter-box {
  position: relative;
    padding: 1em;
    margin: 5% auto;
    text-align: left;

    background: #FFFFFF;
    box-shadow: 2px 5px 10px 5px rgba(0, 0, 0, 0.4);

    max-width: 30%;
    min-width: 300px;

    align-self: center;
    text-align: left;
    color: var(--secondary-color);
}

.loader-box {
  position: relative;
  padding: 1em;
  margin: 5% auto;
  text-align: left;

  background: #FFFFFF;
  border-radius: 10px;

  max-width: 150px;
  min-width: 100px;

  align-self: center;
  justify-content: center;
  text-align: left;
  color: var(--secondary-color);
}

/* Add Animation */
@keyframes animatetop {
  from {
      top: -300px;
      opacity: 0
  }

  to {
      top: 0;
      opacity: 1
  }
}

  /* Others */
  .tile {
    display: flex;

    cursor: pointer;

    padding: 10px;
    font-weight: 700; 
    margin-top: 15px 0px;
    align-self: center;
  }

  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid var(--secondary-color-dark);
    border-bottom: 16px solid var(--secondary-color-dark);
    border-right: 16px solid var(--primary-color);
    border-left: 16px solid var(--primary-color);
    width: 90px;
    height: 90px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* Buttons */

  button.delete-button {
    color: white;
    padding: 10px;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    font-size: 1.2em;

    background-color: var(--delete-button-color);
  }

  button.delete-button:hover {
    background-color: rgb(255, 72, 72);
    transition-duration: 500ms;
  }

  button.no-delete-button {
    color: white;
    padding: 10px;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    font-size: 1.2em;

    background-color: var(--secondary-color-dark);
  }

  button.no-delete-button:hover {
    background-color: var(--primary-color-light);
    transition-duration: 500ms;
  }

  button.filter-button {
    max-height: 100px;
    max-width: 200px;
    margin-right: 10px;
    display: flex;
    align-items: center;
  }


  /* POKÉMON */
  .pokemon-card {
    background-color: white;
    color: black;

    padding: 10px;
    margin: 10px 5px 10px 5px;
    max-width: 200px;
    min-width: 100px;

    box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    cursor: pointer;
    z-index: 1;
  }

  .pokemon-card:hover {    
    transform: translate(15px, -15px);
    transition: 500ms;
    z-index: 10;
  }

  h1.pokemon-title {
    color: black; 
    font-size: 1em;
    font-weight: bold; 
  }

  img.pokemon-img-small {
    max-width: 128px;
    max-height: 128px;

  }

  img.pokemon-img {
    max-width: 256px;
    max-height: 256px;

  }

  