@charset "UTF-8";

:root {
    --primary-color: #1991DB;
    --secondary-color: #136FA8;
    --primary-color-light: #5CAEE1;
    --primary-color-dark: #26475C;
    --secondary-color-dark: #0A3C5C;
    --default-font: Arial, Helvetica, sans-serif;
    --sistem-back-color: rgba(92, 174, 225, 0.7);
    --delete-button-color: #630909;
}

.excluir-pedido-box {
    position: relative;
    padding: 1em;
    margin: 5% auto;
    text-align: left;

    background: #FFFFFF;
    box-shadow: 2px 5px 10px 5px rgba(0, 0, 0, 0.4);

    max-width: 20%;
    min-width: 10%;

    align-self: center;
    text-align: left;
    color: var(--secondary-color);
}

.novidades-box{
    position: relative;
    padding: 10px;
    margin: 10px 5px;
    text-align: left;
    border-radius: 10px;

    background-color: white;
    box-shadow: 2px 5px 10px 5px rgba(0, 0, 0, 0.4);
    max-width: 70%;
    min-width: 50%;
    color: black;     
}

.novidades-box h1{
    color: black;
    font-size: 1em;
}
