@charset "UTF-8";

h1.excluir-title {
    font-weight: bolder;
    font-size: 2em;

    color: rgb(95, 0, 0);
}

h1.loading-title {
    font-weight: bolder;
    font-size: 14px;    
    color: #136FA8;
}